* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(219, 192, 197);
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.calculator {
  display: flex;
  gap: 15px;
  align-items: center;
}

#numberinput {
  margin-top: 25px;
  width: 170px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: pink;
}

.calculator button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: pink;
  font-size: 25px;
}

#valore {
  color: black;
  font-size: 25px;
}

.red {
  color: red;
}

/* #contenitore_contatore {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contatore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin: 20px;
  color: rgb(27, 1, 27);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#incrementa {
  width: 50px;
}

#decrementa {
  width: 50px;
} */
